/*  
    -------------------------------------------------------
    |BLUE THEME STYLE VARIABLE DOCUMENT                   |
    -------------------------------------------------------                  
    | IF THIS THEME IS SELECTED --OVERWRITE THE VARIABLES |
    | FROM THE DEFAULT CSS MASTER FILE                    |
    -------------------------------------------------------
*/

:root{
    --mainColor:#15202B;
    --secondaryColor:#192734;

    --borderColor:#164D56;

    --mainText:#ffffff;
    --secondaryText: #EEEEEE;
    --ExpertiseText: #FFF;
    --projectHeadText: #15202B;
    --projectBodytext: #333333;

    --themeDotBorder: #ffffff;

    --previewBG: rgba(25, 39, 52, 0.8);
    --previewShadowBG: #111921;

    --buttonColor: #17A2B8;
}