/* MNASTER STYLE DOCUMENT */

/* HTML RESET DOCTOR */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* GOOGLE MATERIAL ICONS */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }


/* INDEX SECTION */

:root{
    --mainColor:#E5E5E5;
    --secondaryColor:#FEFEFE;

    --borderColor:#C1C1C1;

    --mainText:#000000;
    --secondaryText: #808080;

    --themeDotBorder: #000000;

    --previewBG: rgb(251,249,243,0.8);
    --previewShadowBG: #F0EAD6;

    --buttonColor: rgb(0, 0, 0);
}

html, body{
    padding: 0;
    margin: 0;
}

body *{
    transition: 0.3s; /* Transition delay for changing color theme */
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
    color: #489EE2;
}

ul{
    list-style: none;
}

h1 { font-size: 56px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

.main-section{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.sub-section{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.heading-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    
    min-height: 10em;
}

.introduction-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: 10px 10px 19px 0px rgba(135,135,135,1);
    -moz-box-shadow: 10px 10px 19px 0px rgba(135,135,135,1);
    box-shadow: 10px 10px 19px 0px rgba(135,135,135,1);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#navigation a{
    color: var(--mainText);
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.81);
    box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.81);

}

#dot-1{
    background-color: #FF6A41;
}
#dot-2{
    background-color: #FFB12A;
}

#dot-3{
    background-color: #0B9433;
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile{
    display: block;
    margin: 0 auto; /* Center the image */
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.dot-theme{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.81);
    box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.81);
}

.dot-theme:hover{
    border-width: 5px;
}

#light-theme{
    
    background-color: #FFF;
}
#blue-theme{
    background-color: #10151F;
}

#green-theme{
    background-color: #545C49;
}

#purple-theme{
    background-color: #5F3C51;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    padding-top: 10px;
}

.right-column{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-bottom: 50px;
}

#preview-shadow{
    background-color: var(--previewShadowBG);
    width: 300px;
    height: 120px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 300px;
    border: 1.5px solid #17A2B8;
    background-color: var(--previewBG);
    padding: 15px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17A2B8;
    background-color: #FFF;
    position: absolute;
}

#corner-tl{
    top: -5px;
    left: -5px;
}

#corner-tr{
    top: -5px;
    right: -5px;
}

#corner-br{
    bottom: -5px;
    left: -5px;
}

#corner-bl{
    bottom: -5px;
    right: -5px;
}

.about-wrapper{
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
    /* 
        Auto fit as many columns in the row 
        and, repeat it, but the columns should never be smaller than 
        320px, and expand it.
    */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
}

#skills{
    display: flex;
    margin-top: 15px;
    padding: 10px;
    justify-content: space-evenly;
    background-color: var(--previewShadowBG);
}

.social-wrapper{
    display: flex;
    text-align: center;
    align-content: center;
}
  
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-dribbble {
    background: #EA4C89;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #d46b8b;
    color: white;
}

.fa-github {
    background: #353738;
    color: white;
}

.project-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.project{
    border:1px solid var(--borderColor);
    

    -webkit-box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.81);
    box-shadow: 7px 3px 14px 0px rgba(0,0,0,0.81);
}

.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-preview{
    background-color: #FFF;
    padding: 15px;
}

.project-title{
    color: black;
    margin: 0;
}

.project-intro{
    color: #4B5156;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.read-more{
    font-size: 14px;
}

#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;
}

#contact-form label{
    line-height: 2.7em;
}

#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}


.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#submit-button{
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    background-color: var(--buttonColor);
    border: none;
}


@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px){
    .introduction-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 3em 30em;
        grid-template-areas: 
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }

    .right-column{
        justify-content: center;
    }
}

@media screen and (max-width: 450px){
    .introduction-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 3em 30em;
        grid-template-areas: 
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }

    #preview-shadow{
        background-color: var(--previewShadowBG);
        width: 250px;
        height: 100px;
        padding-left: 30px;
        padding-top: 30px;
    }
    
    #preview{
        width: 220px;
        border: 1.5px solid #17A2B8;
        background-color: var(--previewBG);
        padding: 15px;
        position: relative;
    }

    .right-column{
        justify-content: center;
    }
}